html,body{
    background-color: rgb(17, 19, 32);
}
/* width */
::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(17, 19, 32);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(28, 31, 53);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(23, 27, 54);
  }